<section class="probootstrap-footer" data-section="reservation">
  <div class="container">
    <div class="row">
      <div class="col-md-6 probootstrap-animate">
        <div class="probootstrap-footer-widget">
          <h3>Adresse</h3>
          <div class="row">
            <div class="col-md-6">
              <p>
                159 Av. Grassion Cibrand, Carnon Plage <br />
                34130 Mauguio
              </p>
              <a href="mailto:contact@hotelgedeon.com"
                >contact@hotelgedeon.com</a
              >
              <br />
              04 67 68 10 05
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 probootstrap-animate">
        <div class="probootstrap-footer-widget">
          <h3>Horaires</h3>
          <div class="row">
            <div class="col-md-4">
              <p>
                <br />Retrait des plats et des produits tous les jours entre
                11h30 et 13h et le soir à 18h30.<br />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
