<section class="probootstrap-section">
  <div class="container">
    <div class="row">
      <div class="probootstrap-cell-retro">
        {% assign count= 0 %} {% for product in site[page.collection] %} {%
        unless product.url contains "index.html" %} {% if product.display.dish
        %} {% assign count = count | plus: 1 %}{% if count == 1 %}
        <div class="half">
          {% endif %}
          <div
            class="probootstrap-cell {% if count == 2  %}reverse
              {% endif %} probootstrap-animate fadeIn probootstrap-animated"
            data-animate-effect="fadeIn"
          >
            <div
              class="image"
              style="background-image: url(mini-tof/{{ product.img }});"
            ></div>
            <div class="text text-center">
              <h3>{{ product.title }}</h3>
              <p>
                {{ product.description }}
              </p>
              <p class="price">{{ product.price }} €</p>
            </div>
          </div>
          {% if count == 3 %}
        </div>
        {% assign count= 0 %} {% endif %} {% endif %} {% endunless %} {% endfor
        %}
      </div>
    </div>
  </div>
</section>
