<section class="probootstrap-section probootstrap-bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center probootstrap-animate">
        <div class="probootstrap-heading dark">
          <h1 class="primary-heading">Découvrez</h1>
          <h3 class="secondary-heading">Nous</h3>
          <span class="seperator">* * *</span>
        </div>
        <p>
          Le restaurant Gédéon a toujours proposé les plats de sa carte en vente
          à emporter. Le 16 mars 2020, suite à la fermeture des restaurants afin
          de ralentir la propagation du virus covid-19, Arnaud et Hakima
          décident d'étendre cette activité: le Gédéon Drive est né. <br />
          Le Gédéon Drive propose des plats à emporter allant de la salade
          en-cas à 5 EUR à l'assiette repas à 10 EUR, mais aussi la vente
          directe des produits de nos fournisseurs locaux habituels.
        </p>
        <p>
          <br />
          Retrait des plats et des produits tous les jours entre 11h30 et 13h et
          le soir à 18h30. <br />
          Fermé le lundi. <br />
          Paiement CB sans contact ou CB Vente à distance. <br />
          Commandes le matin même jusqu'à 11h par email ou appel téléphonique ou
          SMS:<br />
        </p>
        <p>
          <a href="mailto:contact@hotelgedeon.com">contact@hotelgedeon.com</a>
          <br />
          <a href="tel:+33 6 79 02 55 48" class="probootstrap-custom-link"
            >+33 6 79 02 55 48</a
          >
        </p>
      </div>
      <div class="col-md-6 col-md-push-1 probootstrap-animate">
        <p>
          <img
            src="/restaurant/img/resto-masque.jpg"
            alt="Seiches à la plancha et
          patates aïoli"
            class="img-responsive"
          />
        </p>
      </div>
    </div>
    <!-- END row -->
  </div>
</section>
