<section class="flexslider" data-section="welcome">
  <ul class="slides">
    <li
      style="background-image: url(/restaurant/img/VueGambas.jpg)"
      class="overlay"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div
              class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading"
            >
              <h1 class="primary-heading">Authentique</h1>
              <h3 class="secondary-heading">Cuisine</h3>
              <p class="sub-heading">Gourmande et conviviale</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li
      style="background-image: url(/restaurant/img/VueSaladeCourgettes.jpg)"
      class="overlay"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div
              class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading"
            >
              <h1 class="primary-heading">Plaisir</h1>
              <h3 class="secondary-heading">Tapas</h3>
              <p class="sub-heading">De la convivialité et du partage</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li
      style="background-image: url(/restaurant/img/VueBurger.jpg)"
      class="overlay"
      data-stellar-background-ratio="0.5"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div
              class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading"
            >
              <h1 class="primary-heading">Bienvenue</h1>
              <h3 class="secondary-heading">Restaurant</h3>
              <p class="sub-heading">Simplement authentique</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
